.git-link-wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.git-link-wrapper a {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #bdbdbd;
    text-decoration: none;
}

@media screen and (max-width: 820px) {
    .git-link-wrapper a {
        font-size: 14px;
    }
}
